/* Visual reset - global reset */
* {
margin:0;
padding:0;
box-sizing: border-box;
}

/* Visual reset - Set up for footer */
html, body, form, #pswrapper {
display:block;
height:100%; 
color: #000;
font-size:16px;
color: #1d2733;
}

html {
	border-top: 50px solid #ffd41c;
}

form { 
display:flex; flex-direction:column;
} 

body {
background-color: #084c94;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
display: block;
}

.container-elem {
	margin-left: auto;
	margin-right: auto;
	margin-top: 125px;
	background-color: white;
	max-width: 500px;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0px 10px 6px -6px black;
	padding-bottom: 20px; /* Added extra padding at the bottom */
}

.container-elem img {
	margin: auto;
	margin-top: 25px;
	position: center;
	padding: 15px;
	display: block;
}

label[for="name"] {
	color: black;
	margin-left: 90px;
	line-height: 30px;
	text-align: center;
}

label[for=firstname] {
	color: black;
	margin-left: 90px;
	line-height: 30px;
	text-align: center;
}

label[for=lastname] {
	color: black;
	margin-left: 90px;
	line-height: 30px;
	text-align: center;
}

label[for=email] {
	color: black;
	margin-left: 90px; /* need to change this lol */
	line-height: 30px;
	text-align: center;
}

label[for=password] {
	color: black;
	margin-left: 90px; /* this too */
	line-height: 30px;
	text-align: center;
}

.error-msg {
	color: red;
	text-align: center;
}

/*VisualRefresh*/
h1 {
text-align: center;
margin-top:0.75em;
margin-bottom:0.75em;
color: black;
}

p {
	color: white;
}

.ps_text_header { 
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
font-weght:bold;
color: #FFFFFF;
text-shadow: 3px 3px 3px #000000;
width:351px;
display:inline-block;
padding-bottom:14px;
text-align:left;
}

input[type="text"], input[type="password"],textarea {
	margin: auto;
	background-color : #ffffff;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.25) inset;
	border:0.5px inset transparent;
	border-radius:0.25em; 
	background-clip: padding-box;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	width: 341px;
	padding-left: 10px;
	padding-right: 0px;
	padding-bottom: 0.8em;
	padding-top: 0.8em;
	margin-bottom: 25px;
	box-shadow:none;
	line-height:1.2em;
	font-size:1em;
	width:65%;
	display:block;
	border: 1px solid #ced4da;
	box-sizing:border-box;
	padding:0.5em;
	border-color: #868e96; /* 859 - WCAG */
}

select option {
background:transparent !important;  
background-color:#00385c; 
padding-left:10px;
margin-bottom:0.25em;
}

html[dir='rtl'] select option {
padding-right:10px;
padding-left:0;
}

input:hover, select:hover { 
border-color: rgba(0,113,192,0.5);
border-color: #246FC7;
}

a, a:link,.ps-link,.ps-link:link {
text-decoration: none;
color: black;
font-weight: bold;
font-family:Arial;
font-size:1em;
color:inherit;
}

label { 
	text-decoration: none;
	color: black;
	font-family:Arial;
	font-size:15px;
	text-shadow: 2px 2px 1px #000000;
	font-size:1em;
	text-shadow:none;
	color:inherit;
}


a:link:visited,
.ps-link:visited {
text-decoration: none;
color: blue;
color: inherit;
}

a:link:hover, .ps-link:hover {
	text-decoration: underline; 
}

button[type="submit"] {
	margin: auto;
	background-color : #242526;
	border:0.5px inset transparent;
	border-radius:0.25em; 
	background-clip: padding-box;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	width: 341px;
	margin-top: 25px;
	padding-left: 10px;
	padding-right: 0px;
	padding-bottom: 0.8em;
	padding-top: 0.8em;
	box-shadow:none;
	line-height:1.2em;
	font-size:1em;
	width:65%;
	display:block;
	border: 1px solid #ced4da;
	box-sizing:border-box;
	padding:0.5em;
	border-color: #868e96; 
}
