<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
    	<title>Faculty Home (MEEJ)</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/sheet-styles.css') }}">

    	<!-- favicon code below-->
    	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/CSN-2CV.png') }}">
    </head>

	<body>
    	<div class="header-bar">
        	<div class="user-name">{{ session.name }}</div>
        	<div class="user-email">{{ session.email }}</div>
   	 	</div>
    	<div class="container-elem content">
        	<h1>Faculty Dashboard</h1>
        	<a href="{{ url_for('create_exam') }}" class="button">Create an Exam</a>
    	</div>
	</body>
</html>