<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
    	<title>Faculty Home (MEEJ)</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/sheet-styles.css') }}">

    	<!-- Add icon library -->
		<script src="https://kit.fontawesome.com/515a911ad3.js" crossorigin="anonymous"></script>

    	<!-- favicon code below-->
    	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/CSN-2CV.png') }}">
    </head>

	<body>
    	<div class="header-bar">
		 	<div class="user-name">{{ session.name }}</div>
		        <div class="user-email">
		        	<a href="{{ url_for('faculty_home') }}">home</a> <a href="{{ url_for('login') }}">logout</a>
		        	{{ session.email }}
		        </div>
   	 	</div>

		<div class="container-home content">
			<h1>Faculty Homepage</h1>
				<div class="button-container">
			    	<a href="{{ url_for('create_exam') }}"><button class="btn"><i class="fa-solid fa-clipboard"></i><br>Create Exam</button></a>
			    	<a href="{{ url_for('exam_reports') }}"><button class="btn"><i class="fa-solid fa-file-lines"></i><br>Exam Reports</button></a>
			    </div>
    	</div>
	</body>
</html>