<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password (MEEJ)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='LoginPageStyles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/CSN-2CV.png') }}">
</head>
<body>
    <div class="container-elem">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/College_of_Southern_Nevada_%28logo%29.svg/1200px-College_of_Southern_Nevada_%28logo%29.svg.png" style="width:250px;height:auto;">
        <h1>Forgot Password</h1>
        
        {% if error %}
        <p class="error-msg">{{ error }}</p>
        {% endif %}
        
        {% if success %}
        <p class="success-msg">{{ success|safe }}</p>
        {% endif %}
        
        {% if info %}
        <p class="info-msg">{{ info }}</p>
        {% endif %}
        
        <form method="POST" action="{{ url_for('forgot_password') }}">
            <label for="email">Email Address:</label>
            <input type="text" name="email" id="email" required placeholder="e.g. NSHE_ID@student.csn.edu/csn.edu">
            <button type="submit">Reset Password</button>
        </form>
        <br>
        <div style="text-align: center;">
            <a href="{{ url_for('login') }}">Back to Login</a>
        </div>
        
        <div class="info-text" style="margin-top: 20px; text-align: left;">
            <p>Note: Password reset is only available for faculty accounts.</p>
            <p>Students must use their NSHE ID as their password.</p>
        </div>
    </div>
    <p style="margin-top: 50px; font-size: 12px; text-align: center; color: #FFFFFF;">
        Disclaimer: This site is part of a student project and is not officially affiliated with College of Southern Nevada (CSN).
    </p>
</body>
</html>

