<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password - Exam Sign-in (MEEJ)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='LoginPageStyles.css') }}">
</head>
<body>
    <div class="container-elem">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/College_of_Southern_Nevada_%28logo%29.svg/1200px-College_of_Southern_Nevada_%28logo%29.svg.png" style="width:250px;height:auto;">
        <h1>Forgot Password</h1>
        {% if message %}
        <p class="error-msg">{{ message }}</p>
        {% endif %}
        <form method="POST" action="{{ url_for('forgot_password') }}">
            <label for="email">Enter your email:</label>
            <input type="text" name="email" id="email" required placeholder="e.g. NSHE_ID@student.csn.edu/csn.edu">
            <button type="submit">Reset Password</button>
        </form>
        <br>
        <div style="text-align: center;">
            <a href="{{ url_for('login') }}">Back to Login</a>
        </div>
    </div>
    <p style="margin-top: 50px; font-size: 12px; text-align: center; color: #FFFFFF;">
        This site is part of a student project and is not officially affiliated with CSN.
    </p>
</body>
</html>

