<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GOCSN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/goCSN.css') }}">

    <!-- Add icon library -->
		<script src="https://kit.fontawesome.com/515a911ad3.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/CSN-2CV.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/CSN-2CV.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/CSN-2CV.png') }}">
</head>
<body>
    <div class="profileContainer">
        <div class="launcher" style="width: 1856px; height: 413px;">
            <div class="launcherBtn" title="Log out" style="float: right;">
                <i class="fa-solid fa-right-from-bracket"></i>
            </div>
            <div class="launcherBtn" title="Tutorial" style="float: right;">
                <i class="fa-solid fa-question"></i>
            </div>
            <div class="launcherBtn" title="Open Applications" style="float: right;">
                <i class="fa-solid fa-align-justify"></i>
            </div>
            <div class="launcherBtn" title="Webstore" style="float: right;">
                <i class="fa-solid fa-cloud"></i>
            </div>

            <div class="launcherInfo">
                GoCSN |
            </div>

            <div class="searchIcon" style="left: 140px;">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>

        <table class="containerTable">
            <tbody>
                <tr>
                    <td>
                        <table class="homeTable" cellspacing="0px">
                            <tbody>
                                <tr>
                                    <td class="label">
                                        <div class="homeCategory"> </div>
                                    </td>
                                    <td>
                                        <div class="homeContainer">
                                            <div class="tile openAppTile">
                                                <div class="tileBgNode"></div>
                                                <a class="tileSmallNode" href="{{ url_for('login') }}"></a>
                                                    <div class="tileImageNode">
                                                        <img src="https://media.glassdoor.com/sqll/271090/college-of-southern-nevada-squarelogo.png">
                                                    </div>
                                                    <div class="tileTitleHolder">
                                                        <div class="tileTitleDiv">
                                                            <table cellspacing="0" valign="center">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="tileTitle" valign="center"><a href="{{ url_for('login') }}">CIT Exam Registration</a></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br><br><br><br>
    <p style="margin-top: 35%; font-size: 12px; text-align: center; color: #FFFFFF; position: static;">
        Disclaimer: This site is part of a student project and is not officially affiliated with College of Southern Nevada (CSN).
    </p>
</body>
</html>
