<!-- hi meej blehhhh -->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Exam Sign-in (MEEJ)</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<script src="modernizr.custom.40753.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='LoginPageStyles.css') }}">
</head>
<body>
	<div class="container-elem">
		<img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/College_of_Southern_Nevada_%28logo%29.svg/1200px-College_of_Southern_Nevada_%28logo%29.svg.png" style="width:250px;height:auto;">
		<h1>Exam Sign-in</h1>
		{% if error %}
		<p class="error-msg">{{ error }}</p>
		{% endif %}
		<form method="POST" action="{{ url_for('login', user=user_type) }}">
			<label for="email">Email:</label>
			<input type="text" name="email" id="email" required placeholder="e.g. NSHE_ID@student.csn.edu/csn.edu">
			<br>
			<label for="password">Password (NSHE):</label>
			<input type="password" name="password" id="password" required placeholder="e.g. NSHE_ID/Faculty Password">
			<br><br>
			<button type="submit">Sign in</button>
			<br><br>
			<a href="{{ url_for('forgot_password') }}" style="margin: 15px; text-align: center;">Forgot password?</a>
		</form>
	</div>
	<p style="margin:15px;text-align:center;">Don't have an account? <a href="{{ url_for('signup') }}">Register</a></p>
	<p style="margin-top: 50px; font-size: 12px; text-align: center; color: #FFFFFF;">
		This site is part of a student project and is not officially affiliated with College of Southern Nevada (CSN).
	</p>
</body>
</html>
