<!-- logout page -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CIT Exam Logout (MEEJ)</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<script src="modernizr.custom.40753.js"></script>

		<link rel="stylesheet" href="login-styles.css">

		<meta http-equiv="refresh" content="5;url=login.html"/>
		<!-- above code will redirect to login page after 5sec -->
	</head>

	<body>
		<div class="container-elem">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/College_of_Southern_Nevada_%28logo%29.svg/1200px-College_of_Southern_Nevada_%28logo%29.svg.png"
			style="width:250px;height:auto;">
			<h1>CIT Exam Logout</h1>
			<div class="logout"><p>You have been logged out.</p></div>
		</div>
	</body>