<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
    	<title>Registered Exams (MEEJ)</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/sheet-styles.css') }}">
    	<script src="https://kit.fontawesome.com/515a911ad3.js" crossorigin="anonymous"></script>
    	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/CSN-2CV.png') }}">
	</head>

	<body>
    	<div class="header-bar">
			<div class="user-name">{{ session.name }}</div>
		     <div class="user-email">
		        <a href="{{ url_for('student_home') }}">home</a> <a href="{{ url_for('login') }}">logout</a>
		        {{ session.email }}
		     </div>
   	 	</div>

    	<div class="content">
            <br><h1>Registered Exams</h1>
            {% if registrations %}
       		<table>
				<tr>
			    	<th>Course</th>
			       	<th>Date</th>
			       	<th>Time</th>
			       	<th>Campus</th>
			       	<th>Room</th>
			       	<th>Proctor</th>
			       	<th>Action</th>
			    </tr>
                {% for exam in registrations %}
			    <tr>
			       	<td>{{ exam.Class }}</td>
			       	<td>{{ exam.ExamDate }}</td>
			       	<td>{{ exam.ExamTime }}</td>
			       	<td>{{ exam.CampusName }}</td>
			       	<td>{{ exam.Building }} {{ exam.RoomNumber }}</td>
			       	<td>{{ exam.ProctorName }}</td>
			       	<td>
                        <form method="POST" action="{{ url_for('cancel_registration', exam_id=exam.Exam_ID) }}" style="display:inline;">
                            <button type="submit" class="btn" style="color: red"><i class="fa-solid fa-xmark"></i></button>
                        </form>
                    </td>
			    </tr>
                {% endfor %}
       	 	</table>

            {% else %}
            <br><p>You have not registered for any exams yet.</p>
            {% endif %}
                <a href="{{ url_for('register_exam') }}"><button type="submit">Register for Exams</button></a>
    	</div>
	</body>
</html>