<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
    	<title>Registered Exams (MEEJ)</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/sheet-styles.css') }}">
    	<script src="https://kit.fontawesome.com/515a911ad3.js" crossorigin="anonymous"></script>
    	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/CSN-2CV.png') }}">
	</head>

	<body>
    	<div class="header-bar">
        	<div class="user-name">{{ session.name }}
        	<a href="{{ url_for('student_home') }}">home</a> <a href="{{ url_for('logout') }}">logout</a>
        	</div>
        	<div class="user-email">{{ session.email }}</div>
   	 	</div>

    	<div class="content">
            <h1>Registered Exams</h1>
       		<table>
				<tr>
			    	<th>Course</th>
			       	<th>Days & Times</th>
			       	<th>Location</th>
			       	<th>Room</th>
			       	<th>Proctor</th>
			       	<th>Exam Method</th>
			       	<th>Action</th>
			    </tr>
			    <tr>
			       	<td>GEOL 101</td>
			       	<td>MoWe 8:00AM - 12:00PM</td>
			       	<td>West Charleston</td>
			       	<td>West Charleston Bldg H 202</td>
			       	<td>Maurion Herring</td>
			       	<td>In-Person</td>
			       	<td><button class="btn">✕</button></td>
			    </tr>
			    <tr>
			       	<td>MATH 127</td>
			       	<td>TuTh 1:00PM - 5:00PM</td>
			       	<td>North Las Vegas</td>
			       	<td>North Las Vegas Bldg H 305</td>
			       	<td>Elaine Hernie</td>
			       	<td>In-Person</td>
			       	<td><button class="btn">✕</button></td>
			    </tr>
       	 	</table>
    	</div>
	</body>
</html>