<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password (MEEJ)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='LoginPageStyles.css') }}">
</head>
<body>
    <div class="container-elem">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/College_of_Southern_Nevada_%28logo%29.svg/1200px-College_of_Southern_Nevada_%28logo%29.svg.png" style="width:250px;height:auto;">
        <h1>Reset Password</h1>
        
        {% if error %}
        <p class="error-msg">{{ error }}</p>
        {% endif %}
        
        <form method="POST">
            <label for="password">Enter new password:</label>
            <input type="password" name="password" id="password" required placeholder="New Password">
            
            <label for="confirm_password" style="text-align: center; width: 100%; display: block;">Confirm new password:</label>
            <input type="password" name="confirm_password" id="confirm_password" required placeholder="Confirm Password">
            
            <button type="submit">Update Password</button>
        </form>
        <br>
        <div style="text-align: center;">
            <a href="{{ url_for('login') }}">Back to Login</a>
        </div>
    </div>
    <p style="margin-top: 50px; font-size: 12px; text-align: center; color: #FFFFFF;">
        Disclaimer: This site is part of a student project and is not officially affiliated with College of Southern Nevada (CSN).
    </p>
</body>
</html>