<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">

    	<title>Student Home (MEEJ)</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/sheet-styles.css') }}">

    	<!-- Add icon library -->
		<script src="https://kit.fontawesome.com/515a911ad3.js" crossorigin="anonymous"></script>

    	<!-- favicon code below-->
    	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/CSN-2CV.png') }}">
    </head>

	<body>
    	<div class="header-bar">
        	<div class="user-name">{{ session.name }}
        	<a href="{{ url_for('student_home') }}">home</a> <a href="{{ url_for('login') }}">logout</a>
        	</div>
        	<div class="user-email">{{ session.email }}</div>
   	 	</div>

    	<div class="container-home content">
       	 	<h1>Student Homepage</h1>

    		<button class="btn"><i class="fa-solid fa-magnifying-glass"></i><br><a href="{{ url_for('register_exam') }}">Register Exam</a></button>
    		<button class="btn"><i class="fa-solid fa-check"></i><br><a href="{{ url_for('registered_exams') }}">Registered Exams</a></button>
    	</div>
	</body>
</html>