<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">

    	<title>Student Home (MEEJ)</title>
    	<meta name="viewport" content="width=device-width">

    	<link rel="stylesheet" href="sheet-styles.css">

    	<!-- Add icon library -->
		<script src="https://kit.fontawesome.com/515a911ad3.js" crossorigin="anonymous"></script>

    	<!-- favicon code below-->
    	<link rel="icon" type="image/png" href="https://i.imgur.com/yIhrhqE.png"/>
    </head>

	<body>
    	<div class="header-bar">
        	<div class="user-name">session.name
        	<a href="student_home.html">home</a> <a href="logout.html">logout</a>
        	</div>
        	<div class="user-email">session.email</div>
   	 	</div>

    	<div class="container-home content">
       	 	<h1>Student Homepage</h1>

    		<button class="btn"><i class="fa-solid fa-magnifying-glass"></i><br><a href="register_exam.html">Register Exam</a></button>
    		<button class="btn"><i class="fa-solid fa-check"></i><br><a href="registered_exams.html">Registered Exams</a></button>
    	</div>
	</body>
</html>